html, body {
  height: 100%;
  width: 100%;
}

#mainHeader {
  height: 40%;
  background-color: gray;
   background: linear-gradient(rgba(0,0,0,1), rgba(255,255,255,0));
}

#mainFooter {
  height: 40%;
  background-color: gray;
   background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
   border: 0;
}

.nav-link {
  width: 50%;
  text-align: center;
  font-weight: bold;
}

.container-fluid {
  height: 20%;
}

.bg-dark {
  background: linear-gradient(rgba(0,0,0,1), rgba(255,255,255,0));
}

.card {
  background: black;
  color: white;
}

.card-header {
  background: black;
  color: white;
}

.toggleText {
  color: white;
}

h1 {
  font-family: "metal mania" , cursive;
}
